
<CFAPPLICATION NAME="Namex" SESSIONMANAGEMENT="Yes">

<cfset StructDelete(Session, "id")>
<cfset StructDelete(Session, "name")>
<cfset StructDelete(Session, "username")>
<cfset StructDelete(Session, "email")>
<cfset StructDelete(Session, "birthdate")>

<cflocation url="index.cfm">