<cfset variables.hashedPassword = Hash(form.password) />


<cfoutput>
<cfif #get_users_by_username.recordCount# GREATER THAN 0 OR #get_users_by_email.recordCount# GREATER THAN 0>
	<cfset user_exists = "Username or password already exists! Try again!">
<cfelse>
	<cfset register_user = "#application.usersmanager.registerUser(form.name, form.username, variables.hashedPassword, form.birthdate, form.email)#" />
	<cflocation url="index.cfm?fuseaction=authenticate.login">
</cfif>


</cfoutput>
