<cfset variables.hashedPassword = Hash(form.password) />
<cfset login_user = "#application.usersmanager.loginUser(form.username, variables.hashedPassword)#" />


  <cfset username = "#login_user['username']#">
  <cfset email = "#login_user['email']#">
  <cfset birthdate = "#login_user['birthdate']#">
  <cfset name = "#login_user['name']#">
  <cfset id = "#login_user['id']#">
  <cfset password = "#login_user['password']#">


  <cfoutput>
    
    <cfif #username# NEQ "" AND #password# NEQ "">

      <CFAPPLICATION NAME="Namex" SESSIONMANAGEMENT="Yes">
        <CFSET session.id= #id# >
        <CFSET session.name= '#name#' >
        <CFSET session.username= '#username#' >
        <CFSET session.email= '#email#' >
        <CFSET session.birthdate= '#birthdate#' >
        <cflocation url="index.cfm">

    <cfelse>
    	<cfset msg_fail = "<div class='alert alert-danger'>Username or password is incorrect!</div>">
    </cfif>

  </cfoutput>	