<a href="index.cfm?fuseaction=posts.addpost" class="btn btn-success">Add New Post</a>
	<hr>
	<h3>My Post</h3>
	<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Category</th>
			<th>Created At</th>
			<th>Updated At</th>
			<th width="20%">Action</th>

		</tr>
	</thead>
	<tbody>
			<!--- <cfoutput query="myQuery"> --->
			 <cfloop from="1" to="#get_posts_by_user_id.recordCount#" index="i">
			 	<cfoutput>
					<tr>
						<td>#get_posts_by_user_id['id'][i]#</td>
						<td>#get_posts_by_user_id['title'][i]#</td>
						<td>#get_posts_by_user_id['category_name'][i]#</td>
						<td>#DateFormat("#get_posts_by_user_id['created_at'][i]#")#
						#TimeFormat("#get_posts_by_user_id['created_at'][i]#")#</td>

						<td>#DateFormat("#get_posts_by_user_id['updated_at'][i]#")#
						#TimeFormat("#get_posts_by_user_id['updated_at'][i]#")#</td>

						<td width="20%"><a href="#myself##xfa.viewpost#&id=#get_posts_by_user_id['id'][i]#" class="btn btn-primary">View</a> | <a href="#myself##xfa.editpost#&id=#get_posts_by_user_id['id'][i]#" class="btn btn-success">Edit</a> | <a href="#myself##xfa.deletepost#&id=#get_posts_by_user_id['id'][i]#" class="btn btn-danger" onclick="deleteData()" >Delete</a></td>
					</tr>
				</cfoutput>
				</cfloop>
			<!--- </cfoutput> --->
			
	</tbody>

</table>



</div>




<script type="text/javascript">
	function deleteData(){
		alert("Do you really want to delete this data?");
	}
</script>
