<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE circuit>
<!--
	Example circuit.xml file for the controller portion of an application.
	Only the controller circuit has public access - the controller circuit
	contains all of the fuseactions that are used in links and form posts
	within your application.
-->
<circuit access="public" xmlns:cf="cf/">
	
	<!--
		Apply a standard layout to the result of every request.
		This is fine for simple applications that have just one layout but
		for more complicated situations you will need to do something more
		advanced.
	-->
	<postfuseaction>
		<do action="layout.mainLayout" />
	</postfuseaction>
	
	<!--
		Default fuseaction for application, uses model and view circuits
		to do all of its work:
	-->
	<fuseaction name="main">
		<do action="mposts.get_all_posts" />
		<do action="mcategories.get_categories" />

		<do action="vhome.header" contentvariable="header_content" />
		<do action="vhome.body" contentvariable="body_content"  />
		<do action="vhome.footer" contentvariable="footer_content"  />
	</fuseaction>

		
</circuit>
